.body {
    border-style: solid;
    border-width: 5;
    margin: 0;
    padding: 2.5%;
    border-color: gray;
    padding-bottom: 50;
    max-width: 100%;
    overflow-x: hidden;

}

.head {
    text-align: center;
}

.about-me {
    text-align: center;
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

.dp {
    height: 20%;
    border-radius: 50%;
}

ul {
    list-style-type: square;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2;
    word-spacing: 10;
    transform: scale(1.5, 1.5);
}

.contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

body {
    background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg);
}